# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build and dist folders
dist/
build/
coverage/
tmp/
temp/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# CDS build output (for SAP CAP projects)
gen/
db/data/

# added by cds
.cdsrc-private.json
